<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104400011957-p08v9c2egc3j7acjrbs49ro3necil40k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104400011957-p08v9c2egc3j7acjrbs49ro3necil40k</string>
	<key>API_KEY</key>
	<string>AIzaSyD0dsA-qo9Cq_eaf7QUlmc0ZxDwXGu43z0</string>
	<key>GCM_SENDER_ID</key>
	<string>104400011957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musiclearning.ios</string>
	<key>PROJECT_ID</key>
	<string>music-learning-capstone-c019b</string>
	<key>STORAGE_BUCKET</key>
	<string>music-learning-capstone-c019b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104400011957:ios:2ad2ceb320ec1326</string>
	<key>DATABASE_URL</key>
	<string>https://music-learning-capstone-c019b.firebaseio.com</string>
</dict>
</plist>